.container {
    display:grid;
    grid-template-columns:50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background:rgb(2, 90, 148);
}
.color-light {
    background:rgb(131, 225, 248);
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display: block;
    padding:1em 3em;
    background:  rgb(1, 21, 34);
    color: white;
    margin-bottom: 1em;
    cursor:pointer;
}
.life-container {
    background: rgb(1, 21, 34);
    padding:1em;
    font-weight:bold;
    cursor:pointer;                       
}